<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Math Practice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Math Practice</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Mathematics Learning is Going to Be Fun!</strong> -->
    
      <ion-grid [fixed]="true">
        <!--Row 1-->
        <ion-row class="ion-justify-content-between">
          <ion-col size="5">
            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/plus3@300x.png" alt="Addition"></ion-img>
              <h2>ADDITION</h2>
            </a>
          </ion-col>
          <ion-col size="5">
            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/minus3@300x.png" alt="Subtraction"></ion-img>
              <h2>SUBTRACTION</h2>
            </a>
          </ion-col>
        <!--Row 2-->
        </ion-row>
          <ion-row class="ion-justify-content-between">
          <ion-col size="5">

            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/times3@300x.png" alt="Multiplication"></ion-img>
              <h2>MULTIPLICATION</h2>
            </a>
            <!-- </ion-card> -->
            </ion-col>

          <ion-col size="5">
            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/divide3@300x.png" alt="Division"></ion-img>
              <h2>DIVISION</h2>
            </a>
          </ion-col>
        </ion-row>
        <!--Row 3-->
        <ion-row class="ion-justify-content-between">
          <ion-col size="5">
            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/ratio3@300x.png" alt="Ratio"></ion-img>
              <h2>RATIO</h2>
            </a>
          </ion-col>
          <ion-col size="5">
            <a href="../options/options.page.html">
              <ion-img  src="../../assets/buttons/exponent3@300x.png" alt="Exponent"></ion-img>
              <h2>EXPONENTS</h2>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </div>
</ion-content>
