<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Addition with Fractions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Addition with Fractions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/images/under_construction.jpg" alt="Under Construction"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

