<ion-header >
  <ion-toolbar>
    <ion-title>
      <h1>Math Practice</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div>
  
  <ion-grid fixed="true">
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    </ion-breadcrumbs>
    
    <ion-row class="d-flex ion-justify-content-center">
    </ion-row>
    <!--Row 2 -->
    <ion-row >
      <ion-col size=6 class="d-flex ion-justify-content-center">
        <button>
          <a id="add" (click)="openTopicsPage('Addition')">
            <img src="../../assets/images/plus3@300x.png"/>
          </a>
          <h2>Addition</h2>
        </button>
      </ion-col>
      <ion-col size=6 class="d-flex ion-justify-content-center">
        <button>
          <a id="sub" (click)="openTopicsPage('Subtraction')">
            <img src="../../assets/images/minus3@300x.png" />
          </a>
          <h2>Subtraction</h2>
        </button>
      </ion-col>
    <!--Row 2 -->
    </ion-row>
    <ion-row class="d-flex ion-justify-content-center">
      <!-- <h1> Select an Operation </h1> -->
    </ion-row>
    <ion-row>
      <ion-col size=6 class="d-flex ion-justify-content-center">
        <button>
          <a id="times" (click)="openTopicsPage('Multiplication')">
            <img src="../../assets/images/times3@300x.png" />
          </a>
          <h2>Multiplication</h2>
        </button>
      </ion-col>
    
      <ion-col size=6 class="d-flex ion-justify-content-center">
        <button>
          <a id="divide" (click)="openTopicsPage('Division')">
            <img src="../../assets/images/divide3@300x.png" />
          </a>
          <h2>Division</h2>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="d-flex ion-justify-content-center">
  </ion-row>
   
  </ion-grid>
</div>
  



</ion-content>
