<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Math Problems Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Math Problems Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1> this is the Problem Page </h1>
  <div *ngIf="randomNumber1 !== undefined && randomNumber2 !== undefined">
    <p>Random Number 1: {{ randomNumber1 }}</p>
    <p>Random Number 2: {{ randomNumber2 }}</p>
  </div>
</ion-content>
