@import '../../theme/shared-addition.scss';


#answers {

    font-size: 3em;
    content: "";
    display: block; 
    /* padding-bottom: 100%;*/
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide content that overflows the button */
    
    display: inline-block;
    /* Display as an inline block to take the minimum required width */
    height: 100px;
    /* Set a minimum width to ensure the button is visible */
    width: 200px;
    /* Set a minimum width to ensure the button is visible */
    padding: 14px 28px;

    /* Add padding for better appearance */
    @media screen and (max-width: 600px) {
        font-size: 36px;
        /* Adjust font size for smaller screens */

    }

}

