@import '../../theme/colorsByProblemType';

ion-card {
    text-transform: none; /* or revert to default */
    width: 300px;
    height: 300px;
    font-size: 88px;
    border-radius: 25px;
    cursor: pointer;
    background-color: $addition-primary;
  }

ion-button {
   cursor: pointer;
}

.box {
  transition-property: color, background-color, width;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  color: #000000;
  background-color: #bced91;
  width: 3em;
}

.box:hover {
  color: #FFFFFF;
  background-color: #4f94e2;
  width: 3.6em;
}

