<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Math Topics Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Math Topics Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card type="button" id="calc-type" text-capitalize="false" (click)="openAdditionPage()">
          <ion-card-header>
            <ion-card-title>Whole Numbers</ion-card-title>
            <ion-card-subtitle>0, 1, 2, 3, etc.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>Whole Numbers: 0, 1, 2, 3, etc.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card type="button" id="calc-type" text-capitalize="false" (click)="openAdditionPage()">
          <ion-card-header>
            <ion-card-title>Decimal Number</ion-card-title>
            <ion-card-subtitle>0.1, 1.1, 0.2, 33.15, etc.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>Decimals: 0.1, 1.1, 0.2, 33.15, etc.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card type="button" id="calc-type" text-capitalize="false" (click)="openAdditionPage()">
          <!-- <img alt="Fractions" src="../../assets/images/fraction2@300x.png" /> -->
          <ion-card-header>
            <ion-card-title>Fractions Number</ion-card-title>
            <ion-card-subtitle>1/1, 1/2, 3/4, 5/7, etc.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>Fractions: 0.1, 1.1, 0.2, 33.15, etc.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header type="button" id="calc-type" text-capitalize="false" (click)="openAdditionPage()">
            <ion-card-title>Equations</ion-card-title>
            <ion-card-subtitle>7 = x + 3, 22 = x + 15 etc.</ion-card-subtitle>
          </ion-card-header>
    
          <ion-card-content>Equations: 7 = x + 3, 22 = x + 15 etc.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
