// primary colors for different calc types
$addition-primary: #B0D235;
$subtraction-primary: #3EB3CF;
$multiplication-primary: #F18524;
$division-primary: #FDB913;
$exponent-primary: #018AC0;
$ratio-primary: #B575B1;
$fraction-primary: #00A99D;
$percent-primary: #F2738A;